html,

header{
    font-size:2em;
    padding:10px;
    text-align:center
}

body {
  background-color: #CC7D7C;
}
{
  font-family: Arial, sans-serif;
}

p{
    text-align:left
}

nav{
    background-color:#CC7D7C
}

.pokemon-modal-image {
    width: 30%;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
    text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

button.btn-primary{
  background-color: #CC7D7C;
  border: 0 solid #080808;
  box-sizing: border-box;
  color: #080808;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
